<a class="breadcumbs" href="/">← Home</a>
<h1>New Post</h1>

<% if article %>
    <p>
      <span>Title: <%= article[1] %></span>
      <span>Body: <%= article[2] %></span>
    </p>
    <a href="/">Back</a>
<% end %>
